Repository viperdanadev/team8-openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @panagiotag, @swati24may, @jrkhatod, @shaleenthapa

Update Readme codeowners test
  apis/user-java/README.md
Owners: @jrkhatod

Create first pipeline
  azure-pipelines-poi.yaml
Owners: none

update
  azure-pipelines-poi.yaml
Owners: none

update test
  azure-pipelines-poi.yaml
Owners: none

removed dash
  azure-pipelines-poi.yaml
Owners: none

path updated
  azure-pipelines-poi.yaml
Owners: none

removed first path
  azure-pipelines-poi.yaml
Owners: none

updated variable
  azure-pipelines-poi.yaml
Owners: none

updated vg
  azure-pipelines-poi.yaml
Owners: none

Update test with filter path
  azure-pipelines-poi.yaml
Owners: none

test pipeline trigger
  apis/poi/README.md
Owners: @panagiotag

Added build vars
  azure-pipelines-poi.yaml
Owners: none

Update with pr
  azure-pipelines-poi.yaml
Owners: none

update without nuget
  azure-pipelines-poi.yaml
Owners: none

revert
  azure-pipelines-poi.yaml
Owners: none

Dev codeowners (#6)
  apis/poi/README.md
  apis/user-java/README.md
  azure-pipelines-poi.yaml
Owners: @panagiotag, @jrkhatod

Update azure-pipelines-poi.yaml for Azure Pipelines
  azure-pipelines-poi.yaml
Owners: none

Update azure-pipelines-poi.yaml for Azure Pipelines
  azure-pipelines-poi.yaml
Owners: none

initial commit
  poi-cd-pipeline
Owners: none

extension
  poi-cd-pipeline.yaml
Owners: none

update dev cd
  poi-cd-pipeline.yaml
Owners: none

updated indentation
  poi-cd-pipeline.yaml
Owners: none

Creating Userjava-cd-pipeline
  userjava-cd-pipeline
Owners: none

Updated with additional stage
  poi-cd-pipeline.yaml
Owners: none

test disable pr
  poi-cd-pipeline.yaml
Owners: none

Create azure-pipeline-userprofile-cd
  azure-pipeline-userprofile-cd
Owners: none

Rename azure-pipeline-userprofile-cd to azure-pipeline-userprofile-cd.yaml
  azure-pipeline-userprofile-cd.yaml
Owners: none

Update azure-pipeline-userprofile-cd.yaml
  azure-pipeline-userprofile-cd.yaml
Owners: none

New cd pipeline for trips
  trip-cd-pipeline.yaml
Owners: none

updated trigger
  poi-cd-pipeline.yaml
Owners: none

adding trigger condition for userprofile folder
  azure-pipeline-userprofile-cd.yaml
Owners: none

Added oath to trigger
  trip-cd-pipeline.yaml
Owners: none

Added path
  trip-cd-pipeline.yaml
Owners: none

fixing indentation in userprofile
  azure-pipeline-userprofile-cd.yaml
Owners: none

Added trigger update for user-java
  userjava-cd-pipeline
Owners: none

trigger user profile Cd pipeline
  apis/userprofile/README.md
Owners: @shaleenthapa

Updated UserJava-CD-Pipeline-AddingStage
  userjava-cd-pipeline
Owners: none

Push all to main (#8)
  apis/userprofile/README.md
  azure-pipeline-userprofile-cd.yaml
  azure-pipelines-poi.yaml
  poi-cd-pipeline.yaml
  trip-cd-pipeline.yaml
  userjava-cd-pipeline
Owners: @shaleenthapa

Creating polling.sh
  apis/polling.sh
Owners: none

Initial commit challenge 5
  poi-bg-cd-pipeline.yaml
Owners: none

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
/apis/poi/ @panagiotag
/apis/trips/ @swati24may
/apis/user-java/ @jrkhatod
/apis/userprofile/ @shaleenthapa
